:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(36, 36, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{

    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;

}

body {
  margin: 0;
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: start;
  text-align: center;
  flex-direction: column;
  height: 100svh;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

header{

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgb(30, 27, 27);
    background-color: rgb(40, 37, 37);
    box-shadow: 0 10px 10px rgb(21, 19, 19);

}

header h1{

    font-family: Lilita One, Montserrat, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: calc(1.75svw + 1.5em);
    line-height: 1.1;
    color: rgb(164, 236, 254);
    cursor: pointer;
    transition: color .2s ease

}

header h1 b{

    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(242, 250, 139);
    transition: color .2s ease

}

header ul{

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    width: calc(10% + 2.5em);

}

header ul li{

    list-style: none;
    font-size: calc(1svw + .5em);
    cursor: pointer;

}

main{

    margin-top: 5svw;
    width: 75%;
    height: 50%;

}

main h2{

    font-size: calc(1.75svw + 1.5em);

}

main .ui{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 75%;

}

main input{

    width: 38%;
    height: 55%;
    padding: 0;
    margin: 0;
    border-radius: 5em;
    border: none;
    background-color: white;
    padding-right: 10%;
    padding-left: 2%;
    color: black;
    font-size: 1.5svw;
    font-family: inherit;
    transition: background-color .25s ease;

}

main button:not(.baska, .yndn){

    position: absolute;
    width: 5.5%;
    height: 5.5%;
    border-radius: 2.5em;
    margin-right: -30.5%;
    font-family: inherit;
    font-size: 1svw;
    cursor: pointer;
    background-color: rgb(36, 36, 36);
    border: none;

}

main button:not(.baska, .yndn):hover{

    background-color: rgb(44, 55, 61);

}

main button:active{

    background-color: #554747;
    
}

main input:active, main input:focus{

    background-color: #ececec;

}

main .sorubolgesi{

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    height: 350%;
    width: 100%;

}

main .sorubolgesi h2{

    background-color: rgb(53, 44, 44);
    padding: 2.5%;
    word-break: keep-all;
    word-wrap: normal;
    border-radius: .75em;
    max-width: 40%;

}

main .sorubolgesi ul{

    display: flex;
    align-items: start;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;

}

main .sorubolgesi ul li{

    list-style: none;
    font-size: 1.5svw;
    padding: .35em 1.5em;
    margin: 0;
    background-color: rgb(50, 46, 46);
    border-radius: 1em;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 30svw;
    cursor: pointer;
    min-width: 2svw;

}
    
main .sorubolgesi .bitti{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    height: 100%;
    font-size: 1svw;

}

main .sorubolgesi .bitti .dgr, .ynl{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

main .sorubolgesi .bitti .dgr li{

    background-color: #405c0b;
    cursor: default;

}


main .sorubolgesi .bitti .ynl li{

    background-color: #740909;
    cursor: default;

}

main .sorubolgesi .bitti .sec{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
    width: 150%;
    height: 25%;

}

main .sorubolgesi .bitti .sec .yndn, .baska{

    width: 30%;
    height: 50%;
    border-radius: 1.5em;
    border: none;
    background-color: #2c2929;
    font-size: 1svw;
    transition: all .2s ease;
    cursor: pointer;

}

main .sorubolgesi .bitti .sec .yndn:hover, .baska:hover{

    background-color: #2d2f31;

}

main .sorubolgesi .bitti .sec .yndn:active, .baska:active{

    background-color: #282b2e;

}

main .puan{

    position: absolute;
    top: 7.5svw;
    left: 5svw;
    font-size: 3svw;

}